<section class="banner">
  <img src="./img/banner.jpg" alt="">
  <h1>La última creación de</h1>
  <h1>FromSoftware</h1>
  <a href="/noticias/asd3313">Ver reportaje</a>
</section>

<section class="noticias">
  <div>
    <img src="./img/gta.jpeg" alt="">
    <article>
      <h1>Nueva actualización 5.23</h1>
      <p>Nuevos coches, nuevas armas y un nuevo DLC, os lo contamos todo en detalle</p>
      <a href="">ver articulo</a>
    </article>
  </div>
  <div>
    <img src="./img/pokemon.jpg" alt="">
    <article>
      <h1>Nuevo Pokémon</h1>
      <p>Niantic anuncia un nuevo juego de pokémon inspirado en españa, te lo contamos todo en detalle</p>
      <a href="">ver articulo</a>
    </article>
  </div>
  <div>
    <img src="./img/activison.jpg" alt="">
    <article>
      <h1>Tencent compra Activision</h1>
      <p>Tencent la gigantesca compañia de videojuegos coreana adquiere Activision por 40 Millones de dolares, te lo contamos todo en detalle</p>
      <a href="">ver articulo</a>
    </article>
  </div>
  <div>
    <img src="./img/ea.jpg" alt="">
    <article>
      <h1>Nuevo juego de futbol</h1>
      <p>Ea anuncia un nuevo juedo de futbol desarrollado en Unreal engine 5, te contamos todo en detalle</p>
      <a href="">ver articulo</a>
    </article>
  </div>
</section>